.center {
    text-align: center;
}
.inline {
    display: inline;
}
.color-white {
    color: #fff;
}
.shadow-white {
    text-shadow: 1px 1px 0px #fff, -1px 1px 0px #fff, 1px -1px 0px #fff, -1px -1px 0px #fff,
                2px 2px 5px #fff, -2px 2px 5px #fff, 2px -2px 5px #fff, -2px -2px 5px #fff;
}
.bold {
    font-weight: 600;
}

body {
    background-image: url('ghibli.png');
}
div {
    margin: 0px 0px 5px 0px;
}
td {
    width: 25%;
}

#run {
    color: rgb(0,147,219);
    font-size: 3em;
    border-radius: 0.5em;
}
#select,#pick {
    float: left;
}
#sliderSelect,#result {
    clear: left;
}
#select {
    width: 46.5%;
}
#sliderImage {
    width: 90%;
    margin: auto;
}
#slider, #slider_control {
    display: flex;
}
#slider input[type='range'], #slider_input {
    flex-grow: 1;
}
#goto {
    width: 4em;
}
#slider button, #forward, #backward {
    border-radius: 3em;
    font-size: 1.5em;
}
#run_webp {
    border-radius: 1em;
    font-size: 1.3em;
}
#slider_webp img {
    width: 50%;
}
#source {
    width: 40%;
    height: 10vh;
}

.item {
    display: inline-block;
    /* border:1px solid rgba(0,0,0,1); */
    margin: 0 5px;
    width: 48%;
}
.item img {
    width: 100%;
}
.item p {
    margin: 0px 0px 20px 0px;
}

@media ( max-width: 768px ) {
    body {
        background-size: contain;
    }
    label,td {
        background-color: rgb(0,147,219);
    }
    table {
        border-collapse: collapse;
    }

    .item { 
        width: 100%;
    }

    #run {
        font-size: 2.5em;
    }
    #columnSelect {
        display: none !important;
    }
    #select,#pick {
        float: none;
    }
    #select {
        width: 100%;
    }
    #pick button {
        margin: auto;
    }
    #sliderSelect img {
        width: 100%;
    }
    #source {
        width: 80%;
        height: 15vh;
    }
    
}